@import '../commonStyles/variables.css';

.chatMessage {
  padding: 5px;
  border:1px solid color($editorsColor blackness(+20%));
  background: $editorsColor;
  border-radius: 3px;
  margin: 5px 0;
  color: color($editorsColor blackness(+45%));
  span {
    text-decoration: underline;
    font-weight: bold;
  }
}
