@import '../commonStyles/variables.css';
@import '../commonStyles/mixins.css';

.editor {
  position : relative;
  width : 100%;
  height: 50%;
  background : $editorsColor;
  border-bottom : 1px solid color( $editorsColor blackness(+20%) );
}
.title {
  @add-mixin title;
}
.title:hover{
  @add-mixin titleHover;
}
.editorArea {
  padding: 3%;
  width: 100%;
  height: 100%;
  color : color( $editorsColor blackness(+70%) );
}
.editorArea:focus {
  outline: none;
}