@import '../commonStyles/variables';

.chatForm {
  padding: 5%;
  textarea {
    width : 100%;
    margin-top:10px;
    padding: 5px;
  }
  label {
    color: darken($chatBackground, 20%);
  }
  label:hover {
    color: darken($chatBackground, 70%);
  }
}